    <br>
    <mat-card-header>
      <mat-card-title>Your IDE on {{block?.runtime}}</mat-card-title>
      <mat-card-subtitle>write some code</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="code-editor" #codeEditor>{{block?.code}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Clere</button>
      <button mat-button>SHARE</button>
      <button routerLink="/" mat-button><mat-icon>arrow_right_alt</mat-icon></button>
    </mat-card-actions>

    
  