<mat-card class="card">
	<mat-card-header class="header">
	  
		  <div class="logo-box">
			<img src="../assets/img/cloudonix.png" alt="cloudonix img" class="logo">
		  </div>
		  <div class="text-box">
			<h1 class="heading-primary">
				<span class="text-title">Host-Aplication</span>
				<span class="text-sub-title">Welcome hen</span> 
			  </h1>
		  </div>
		  <div class="add-app">
			<button (click)="AddApp()" mat-fab  aria-label="to add aplication">
			  <mat-icon>add</mat-icon>
			</button>
		  </div>
		
	</mat-card-header>
	
	<mat-card-content>
		
		<router-outlet></router-outlet>
	</mat-card-content>
	
  </mat-card>
  