<div *ngIf="displaySppiner===true" class="spinner">
  <mat-spinner></mat-spinner>
  </div>

<div class="applications" *ngFor="let App of Apps;let i = index">
  
  
    <mat-card class="example-card">

        
          <mat-card-title align="center" ><em>{{App.name}}</em></mat-card-title>
          
        
        <mat-card-content>
            <mat-tab-group >
              <div  *ngFor="let block of App.blocks;let j = index">
                <mat-tab  >
                  <ng-template mat-tab-label>
                    <mat-icon svgIcon={{block.runtime}}></mat-icon>
                      | {{block.name}}
                  </ng-template>          
                   <h3><button matTooltip="Edit your code" (click)="info(App.name,block.name)" mat-button><mat-icon>code</mat-icon></button></h3>
                   {{block.code}}
                </mat-tab>
              </div>
            </mat-tab-group>
            
             
        </mat-card-content>

        <mat-card-actions>
            <button matTooltip="Delete application" matTooltipPosition="above" (click)="delete(App.name)" mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
            <button  matTooltip="Create block" matTooltipPosition="above" (click)="addBlock(App.name)" mat-button aria-label="add block">
              <mat-icon>add</mat-icon>
            </button>
        </mat-card-actions>
        

      </mat-card>
      
</div>
