.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  mat-dialog-content{
    overflow: auto;
  }
  
  .example-full-width {
    width: 100%;
  }

  .code-editor{
    width: 100%;
    overflow: auto;

  }
  .container{
    display: flex;
    justify-content: space-around;
  }
  .files{
    color: rgb(79, 79, 187);
  }
  
  
  