
  .code-editor {
    width: 100%;
    overflow: auto;

  }
  .dialog {
    overflow: auto;
    max-height: 300px;
  }
  .container {
    display: flex;
    justify-content:space-around;
  }
  .files {
    color: rgb(79, 79, 187);
  }
  
  
  
  
  